---
import { fade } from "astro:transitions";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h4>
    Written by <a href="/about/">{frontmatter.author}</a> | {
      frontmatter.pubDate.toString().slice(0, 10)
    }
  </h4>
  <p transition:animate={fade({ duration: "2s" })}>{frontmatter.description}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</Layout>
